.App {
  text-align: center;
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Center-item {
  height: 80vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px #38517b dashed;
  width: 60%;
  margin: auto;
  border-radius: 15px;
}

.custom-pover-body {
  background-color: #aebc37;
  width: fit-content;
  border-radius: 15px;
}

.custom-pover {
  background-color: #aebc37;
}

.customBtn {
  display: inline-block;
  background: white;
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
