// overwrite theme variables

$primary: #66ab57;
$secondary: #66ab57;
$dark: #708090;
$light: #f2efee;
$success: #66ab57;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f44336;

// import bootstrap styles at the bottom!
@import '~bootstrap/scss/bootstrap.scss';